table {
  border-spacing: 0;
  width: auto;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  margin: 1.75em 0;
  border: 1px solid teal;
  border-radius: 0.45em;
  border-collapse: separate;
  font-size: 0.85em;
  overflow: hidden;
}

table th {
  background-color: #eaf3f3;
  color: teal;
  font-weight: bold;
  text-align: left;
}

td, th {
  padding: 0.5em 1em;
  border: 0;
  height: 2em;
  min-width: 4em;
}

tr:nth-child(2n) {
  background-color: #0000000d;
}

tr td:not(:last-child) {
  border-right: 1px solid lightgray;
}

tr th:not(:last-child) {
  border-right: 1px solid lightgray;
}

tr:hover td {
  background-color: #eaf3f3;
}

img {
  max-width: 100%;
}

img.emoji {
  display: inline;
  border: 0;
  width: 1em;
  height: 1em;
  padding: 0;
  margin: 0;
}

a {
  color: teal;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a > code {
  color: #476582;
  text-decoration: none;
}

p {
  line-height: 1.6em;
  letter-spacing: 0.2px;
}

strong {
  color: saddlebrown;
  font-weight: bold;
}

mark {
  padding: 0.15em 0.5em;
}

blockquote {
  margin: 2em 0;
  padding-left: 20px;
  border-left: 4px solid teal;
  white-space: nowrap;
}

ul {
  margin: 0.5em 0;
  padding-left: 1.25em;
  list-style: disc;
}

ol {
  padding-left: 1.25em;
}

h1 {
  margin: 0 0 3rem;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: 600;
  padding-bottom: 0.7em;
  border-bottom: 2px solid #ddd;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 2.8em 0 0.8em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #ddd;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 3rem 0 1.25rem 0;
}

h4 {
  font-size: 1em;
  margin: 1em 0;
}

h5 {
  font-size: 0.85em;
  margin: 1em 0;
}

h6 {
  font-size: 0.7em;
  margin: 1em 0;
}

hr {
  border-left: 0;
  border-right: 0;
}

.nothing {
  display: none;
}

p, ul, ol, summary {
  margin-bottom: 1.2em;
}

blockquote > p {
  text-wrap: wrap;
  margin-bottom: 0;
}

.sm-custom-code-block-renderer {
  width: 100%;
}
